body {
    background: #18191a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    font-family: cursive;
    box-sizing: padding-box;
}

form {
    width: 900px;
    border: dashed 5px  #17e6b2;
    padding: 20px;
    background: #505251;
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 3px solid #52f7ce;
    width: 92%;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

label {
    color: #000000;
    font-size: 20px;
    padding: 15px;
}

button {
    float: right;
    background: #0cf5b7;
    padding: 10px 10px;
    color: #d0f2e9;
    font-weight: 900;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
}

button:hover{
    opacity: .50;
}

.error {
   background: #038562;
   color: #cef2e8;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
    text-align: center;
    color: #d14343;
}

a {
    float: right;
    background: rgb(183, 225, 233);
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover{
    opacity: .10;

}
